<section>
  <h3>Table Example</h3>

  <div class="options-group">
    <mat-checkbox
      #selectableToggle
      type="checkbox"
      [checked]="selectable()"
      (change)="selectable.set(selectableToggle.checked)"
      >Selectable Rows</mat-checkbox
    >
    @if (selectable()) {
      <mat-checkbox
        #enableMaxSelectToggle
        type="checkbox"
        [checked]="enableMaxSelect()"
        (change)="enableMaxSelect.set(enableMaxSelectToggle.checked)"
        >Max Select of 3</mat-checkbox
      >
    }
    <mat-checkbox
      #rowClickEnabledToggle
      type="checkbox"
      [checked]="rowClickEnabled()"
      (change)="rowClickEnabled.set(rowClickEnabledToggle.checked)"
      >Row Click Event</mat-checkbox
    >
    <mat-checkbox
      #stickyHeaderToggle
      type="checkbox"
      [checked]="stickyHeader()"
      (change)="stickyHeader.set(stickyHeaderToggle.checked)"
      >Sticky Header</mat-checkbox
    >
    <mat-checkbox
      #sortableHeadersToggle
      type="checkbox"
      [checked]="sortableHeaders()"
      (change)="sortableHeaders.set(sortableHeadersToggle.checked)"
      >Sortable Headers</mat-checkbox
    >
    <mat-checkbox
      #copyEmailToggle
      type="checkbox"
      [checked]="copyEmail()"
      (change)="copyEmail.set(copyEmailToggle.checked)"
      >Copy Email on Click</mat-checkbox
    >
    <mat-checkbox
      #highlightOddRowsToggle
      type="checkbox"
      [checked]="highlightOddRows()"
      (change)="highlightOddRows.set(highlightOddRowsToggle.checked)"
      >Highlight Odd Rows</mat-checkbox
    >
    <mat-checkbox
      #expandableRowsToggle
      type="checkbox"
      [checked]="enableExpandableRows()"
      (change)="enableExpandableRows.set(expandableRowsToggle.checked)"
      >Enable Expandable Rows</mat-checkbox
    >
  </div>

  <pro-table
    (rowClick)="onRowClick($event)"
    (rowSelectChange)="onRowSelect($event)"
    (sortChange)="onSortChange($event)"
    [columns]="enableExpandableRows() ? columnsExpandable() : columns()"
    [data]="enableExpandableRows() ? dataExpandable() : data()"
    [highlightOddRows]="highlightOddRows()"
    [initialSort]="{ key: 'id', direction: 'asc' }"
    [maxSelectableRows]="enableMaxSelect() ? 3 : null"
    [rowClickEnabled]="rowClickEnabled()"
    [selectable]="selectable()"
    [stickyHeader]="stickyHeader()"
    placeholderEmptyData="N/A"
    placeholderEmptyList="No items to display."
    placeholderLoading="Loading..."
  />
</section>

@if (selectable()) {
  <section>
    <h4>Selected Rows</h4>
    <textarea
      rows="15"
      class="form-value-display"
      [innerHTML]="pretifyJson(selectedRows())"
    ></textarea>
  </section>
}

<ng-template #expendableRow let-data="data">
  <pre>{{ pretifyJson(data) }}</pre>
</ng-template>
